@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  background-image: linear-gradient(
    330deg,
    #bbc2cc 15%,
    #5f5f5f 50%,
    #121212 90%
  );
}
section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 300px;
  width: 400px;
  height: 320px;
  background: #009cdf;
  z-index: 0;
  transition: 1s;
}
section.active:before {
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #121212;
  z-index: 4;
}
section:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 100px;
  width: 400px;
  height: 200px;
  background: #e23838;
  z-index: 0;
  transition: 1s;
}
section.active:after {
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #1f1f1f;
  z-index: 3;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #131313;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}
header .logo {
  font-size: 2em;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: 0.5s;
  transform-origin: right;
}
header .toggle {
  position: relative;
  width: 30px;
  height: 30px;
  background: url(menu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  cursor: pointer;
}
header .toggle.active {
  background: url(close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.sci {
  position: absolute;
  bottom: 20px;
  display: flex;
  margin-left: 1rem;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 0.5s;
  transform-origin: right;
}
.sci li {
  list-style: none;
}
.sci li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.6);
}
section.active .content,
section.active .sci,
section.active .logo,
section.active .contactus {
  transform: scale(0);
  transform-origin: left;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition-delay: 0s;
  transition: 0.5s;
  z-index: 5;
}
section.active .menu {
  visibility: visible;
  opacity: 1;
  transition-delay: 1s;
}
.menu li {
  list-style: none;
}
.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
}
.contactus {
  position: relative;
  width: 100%;
  padding: 140px 100px;
  z-index: 2;
  transition: 1.5s;
  transform-origin: top;
}
.contactus .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.contactus .title h2 {
  color: #fff;
  font-weight: 500;
}
.form {
  grid-area: form;
}
.info {
  grid-area: info;
}
.map {
  grid-area: map;
}
.box {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas:
    "form info"
    "form map";
  margin-top: 20px;
}

.contact {
  background: #bbc2cc;
  padding: 40px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}
.contact .title h3 {
  color: #0e3959;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}
/* FormBx */
.formBx {
  position: relative;
  width: 100%;
}
.formBx .row50 {
  display: flex;
  gap: 20px;
}
.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}
.formBx .row100 .inputBox {
  width: 100%;
}
.formBx .inputBox span {
  color: #009cdf;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}
.formBx .inputBox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
}
.formBx .inputBox textarea {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.1em;
  resize: none;
  min-height: 220px;
  outline: none;
  border: 1px solid #333;
}
.formBx .inputBox input[type="submit"] {
  background: #e23838;
  color: #fff;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 15px;
}
.formBx ::placeholder {
  color: #999;
}
/* info Box */
.info {
  background: #0e3959;
}
.info h3 {
  color: #fff;
}
.infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.infoBox div span {
  min-width: 40px;
  height: 40px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #009cdf;
  color: #fff;
  font-size: 1.5em;
  border-radius: 50%;
}
.infoBox div p,
.infoBox div a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
}

.map {
  padding: 0;
}
.map iframe {
  width: 100%;
  height: 100%;
  border: none;
}
@media (max-width: 991px) {
  header {
    padding: 20px 40px;
  }
  section {
    padding: 0;
  }
  section:before {
    top: 100px;
    left: 0px;
    width: 170px;
    height: 310px;
  }
  section:after {
    bottom: 0px;
    right: 0px;
    width: 80px;
    height: 60px;
  }
  section .content {
    margin: 50px;
    flex-direction: column-reverse;
  }
  section .content .contentBx {
    max-width: 100%;
  }
  .content .imgBx img {
    min-width: 300px;
  }
  .content .contentBx h2 {
    font-size: 2.5em;
  }

  body {
    background: #03a9f5;
  }
  .contactus {
    padding: 20px;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "form"
      "info"
      "map";
  }
  .formBx .row50 {
    flex-direction: column;
    gap: 0;
  }
  .inputBox {
    width: 100%;
  }
  .map {
    height: 300px;
  }
}
