@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  background-image: linear-gradient(
    330deg,
    #bbc2cc 15%,
    #5f5f5f 50%,
    #121212 90%
  );
}
section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 300px;
  width: 400px;
  height: 320px;
  background: #009cdf;
  z-index: 0;
  transition: 1s;
}
section.active:before {
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #121212;
  z-index: 2;
}
section:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 100px;
  width: 400px;
  height: 200px;
  background: #e23838;
  z-index: 0;
  transition: 1s;
}
section.active:after {
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #1f1f1f;
  z-index: 1;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #131313;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}
header .logo {
  font-size: 2em;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: 0.5s;
  transform-origin: right;
}
header .toggle {
  position: relative;
  width: 30px;
  height: 30px;
  background: url(menu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  cursor: pointer;
}
header .toggle.active {
  background: url(close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.sci {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 0.5s;
  transform-origin: right;
}
.sci li {
  list-style: none;
}
.sci li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.6);
}
section.active .container,
section.active .content,
section.active .sci,
section.active .logo {
  transform: scale(0);
  transform-origin: left;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition-delay: 0s;
  transition: 0.5s;
  z-index: 2;
}
section.active .menu {
  visibility: visible;
  opacity: 1;
  transition-delay: 1s;
}
.menu li {
  list-style: none;
}
.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  transform-style: preserve-3d;
  transition: 2.4s;
  transform-origin: right;
  z-index: 1;
}
.container .box {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 40px;
  background: #232323;
  border-radius: 20px;
  transform-style: preserve-3d;
  z-index: 2;
}
.container .box::before {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 6em;
  font-weight: 900;
  color: #fff;
  font-style: italic;
  opacity: 0;
  transition: 0.5s;
}
.container .box::after {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 5em;
  font-weight: 900;
  color: #fff;
  font-style: italic;
  opacity: 0;
  transition: 0.5s;
}
.container .box:hover::before,
.container .box:hover::after {
  opacity: 0.04;
}
.container .box .name {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  width: 100%;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 75px);
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}
.container .box:hover .name {
  top: 40px;
  opacity: 1;
}
.container .box .buy {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate3d(-50%, 0, 75px);
  color: #fff;
  background: #333;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}
.container .box:hover .buy {
  bottom: 30px;
  opacity: 1;
}
.container .box .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 0.5s;
  background: #fff;
  transform-style: preserve-3d;
  z-index: 10;
  opacity: 1;
  transform: translate3d(-50%, -50%, 0px);
}
.container .box .product {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 300px;
  transition: 0.5s;
  z-index: 11;
  transition: 0.5s;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 0px) rotate(5deg);
}
.container .box:hover .product {
  transform: translate3d(-50%, -50%, 100px) rotate(10deg);
}

.container .box:nth-child(1) .circle,
.container .box:nth-child(1) .buy {
  background: #379bf7;
}
.container .box:nth-child(2) .circle,
.container .box:nth-child(2) .buy {
  background: #9bdc28;
}
.container .box:nth-child(3) .circle,
.container .box:nth-child(3) .buy {
  background: #fb4b4f;
}

.card {
  position: relative;
  margin: 20px 50px;
  width: 300px;
  height: 400px;
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.15),
    0 20px 20px rgba(0, 0, 0, 0.15);
  transition: 1s;
}
.card:hover {
  transform: perspective(2000px) translateX(20%);
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.15),
    0 10px 100px rgba(0, 0, 0, 0.15);
}

.card .cover {
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: left;
  z-index: 2;
  transition: 1s ease-out;
  background: rgb(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  overflow: hidden;
}
.card .cover img {
  max-width: 100%;
  z-index: 1;
}
.card:hover .cover {
  transform: rotateY(-100deg);
}
.card .cover::before {
  content: "";
  position: absolute;
  width: 50px;
  background: linear-gradient(#e23838, #009cdf);
  height: 150%;
  transform: rotate(36.5deg);
  box-shadow: 0 0 0 30px rgb(44, 44, 44);
  transition: 0.5s;
  transition-delay: 1s;
}
.card:hover .cover::before {
  width: 0px;
  box-shadow: 0 0 0 250px rgb(44, 44, 44, 0.8);
  transform: rotate(360deg);
}
.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.card .details h3 {
  font-weight: 500;
  margin: 5px 0;
}
.card .details h2 {
  font-size: 1.5em;
  color: #e82a5b;
  font-weight: 600;
}

.card .details a {
  display: inline-block;
  padding: 8px 20px;
  margin-top: 5px;
  background: #47bfce;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 25px;
  text-decoration: none;
}

@media (max-width: 991px) {
  header {
    padding: 20px 40px;
  }
  section {
    padding: 40px;
    overflow: hidden;
  }
  section:before {
    top: 100px;
    left: 0px;
    width: 170px;
    height: 310px;
  }
  section:after {
    bottom: 0px;
    right: 0px;
    width: 80px;
    height: 60px;
  }
  section .content {
    margin: 50px 0;
    flex-direction: column-reverse;
  }
  section .content .contentBx {
    max-width: 100%;
  }
  .content .imgBx img {
    min-width: 300px;
  }
  .content .contentBx h2 {
    font-size: 2.5em;
  }

  .container {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
}
